@media (max-width: 1120px){
    .img-home{
        height: 350px;
    }
    .sobre-habilidades{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .sobre-habilidades div{
        text-align: center;
    }
}
